{% extends "home.html" %}
{% block masthead %}
{% endblock %}

{% block main %}
{% for message in messages %}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">
        ×
    </button>
    <strong>{{message}}</strong>
</div>
{% endfor %}

<div class="container">

    <form method="POST" action="{% url 'getrecommendation' pk=project.id%}">
        {% csrf_token %}
        Want Recommendations for Users?<br>
        <p class="form-control btn btn-primary">
            Choose required skill:-
        </p>
        <div class="form-group">
            <select name='skill' class="form-select">
                {% for choice in choices %}
                <option  value={{choice.1}}>{{choice.1}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary form-control">
    </form>
</div>

<form action="" method="POST">
    <div class="container">
        <div class="form-group row justify-content-center">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label class="col-form-label font-weight-normal">
                    {{ field.label }}
                    {% for error in field.errors %}
                    <strong class="text-danger font-weight-normal" style="padding-left: 5px">*{{ error|escape
                        }}</strong>
                    {% endfor %}
                </label>
                <div>
                    {{field}}
                </div>
            </div>
            <br>
            {% endfor %}
            <hr>
            <button type="submit" , class="btn btn-primary" href="{% url 'createTask' pk=project.id %}">Create
                Task</button>
        </div>

    </div>
</form>
</div>

{% endblock %}

{% block pic2 %}
{% endblock %}